*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: #f4f4f4;
}

.navbar .icon{
    display: flex;
}

.home{
    background-image: url(../images/banner\ background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}

.home .row{
    display: flex;
    align-items: center;
}

.home img{
    width: 85%;
    animation-name: rotate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-top: 50px;
}

.home .row p{
    width: 90%;
}

.about .row{
    display: flex;
    align-items: center;
}

.about img{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.menu .row{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.menu img{
    width: 100%;
}

.delivery .row{
    display: flex;
    align-items: center;
}

.delivery img{
    width: 100%;
}


.contact{
    background-color: rgb(233, 64, 64);
    padding: 20px;
    color: #ffffff;
}


.contact button{
    background-color: #ffffff;
}

.contact button:hover{
    background-color: #000000;
    color: #ffffff;
}

.contact iframe{
    width: 100%;
}

.footer{
    background-color: #f4f4f4;
    width: 100%;
}

@keyframes rotate{
    from{ transform: rotate(-360deg); }
    to{ transform: rotate(360deg); }
}

/* @media (max-width: 578px) {
    .home img{
        width: 50%;
    }

} */