*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: #f4f4f4;
}

.navbar .icon{
    display: flex;
}

.home .row{
    margin: 10px;
    display: flex;
    gap: 1rem;
}

.home .col-sm{
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
}

.home img{
    width: 100%;
    border-radius: 10px;
}

.home .star{
    font-size: 20px;
    color: green;
    padding-bottom: 5px;
}

.home button{
    background-color: rgb(215, 18, 18);
    color: #ffffff;
    width: 150px;
    font-size: 20px;
}

.home button:hover{
    background-color: rgb(154, 22, 22);
    color: #ffffff;
}

.footer{
    background-color: #f4f4f4;
    width: 100%;
}